<!-- link to this page using : link_to 'O nama', page_path('about') -->
<div id="inner_about_us">

	<br>
	<h2>O nama</h2>
	<br>
	<p class="about_highlight">
		<mark> &nbsp; Centar za razvijanje radnih vještina, suzbijanje siromaštva  &nbsp; <br>
		 &nbsp; i socijalne isključenosti samohranih roditelja „Moj Prvi Dom"  &nbsp; 
		</mark>
	</p>

	<br><br>
	<div class="textbox">
		„Moj Prvi Dom“ je neprofitna, nevladina udruga registrirana 15.12.2010. u Slavonskom Brodu nastala kao rezultat uvida u nedostatak cjelovitih programa namjenjenih majkama iz jednoroditeljskih obitelji unutar sustava socijalne skrbi.
	</div>
	<div class="clear"></div>
	<br><br>

	<div class="lijevi_textbox">
		<div class="illustration"><%= image_tag("icons/vision.svg") %></div>
		<div class="about_content"><h3>vizija</h3>
		
			<ul class="about_ul">				
				<li>	<b>Pravo</b> svakog djeteta <b>na sigurnost</b> odrastanja u roditeljskom domu.		</li>
				
				<li>	<b>Suzbijanje siromaštva</b> za jednoroditeljaske obitelji iz sustava socijalne skrbi.	</li>
				
				<li>	Socijalno <b>uključivanje</b> <b>u</b> lokalnu <b>zajednicu</b> istih građana.				</li>
				
				<li>	<b>Osposobljavanje</b> istih za <b>rad</b> i samozapošljavanje, potičući korištenje prirodnih resursa, ekološki uzgoj, odnosno <b>oživljavanje sela.</b>										  </li>
				
			</ul>
		<br>
		</div>
	</div>
	<div class="clear2"></div>

	<div class="desni_textbox">
		<div class="illustration"><%= image_tag("icons/mission.svg") %></div>
		<div class="about_content"><h3> misije </h3>
			<ul class="about_ul">
				<li>	<b>Osiguravanje</b> sigurnog <b>prostora za odrastanje</b> djece čiji je roditelj siromašan i socijalno izoliran. 
				</li>
				
				<li>	Edukacije u svrhu sticanja znanja potrebnih za rad u <b>poljoprivredi,</b> <b>voćarstvu</b> <b>i</b> <b>stočarstvu.</b>	
				</li>
				
				<li>	Uključivanje lokalnog stanovništva u <b>edukacije</b> <b>i</b> <b>seminare.</b>		
				</li>
				
				<li>	Uključivanje Udruge u aktivnosti na lokalnoj, nacionalnoj i međunarodnoj razini u svrhu suradnje na <b>rješavanju</b> društvenih <b>problema siromaštva</b> <b>i</b> <b>socijalne izolacije.</b>
				</li>
				
				<li>	<b>Jačanje suradnje</b> sa srodnim organizacijama u Hrvatskoj i izvan nje.
				</li>
			</ul>
		<br>
		</div>
	</div>
 
	<div class="clear"></div>
	
	<div class="lijevi_textbox">
		<div class="illustration"><%= image_tag("icons/how_to_help.svg") %></div>
		<div class="about_content"><h3> kako pomoći? </h3>
			<p>
				Imate dobru volju i želju? &nbsp;  Odlično! :) <br>
				Samo uz pomoć ljudi <b>poput Vas</b> stvari se mogu <b> promijeniti.</b> <br>
				Više informacija o tome kako i Vi možete podržati rad Udruge možete pronaći na slijedećim poveznicama:
			</p>

			<p class="help_links"> 
				<mark>  &nbsp; <%= link_to "volontiraj", volunteer_path %> &nbsp; </mark>
				 &nbsp;<b>  & </b> &nbsp;
				<mark> &nbsp; <%= link_to "doniraj", donations_path %> &nbsp; </mark>
			</p>			
			<br> <br>
		</div>
	</div>
	<div class="clear2"></div>
	<div class="desni_textbox">
		<div class="illustration"><%= image_tag("icons/birokracija.svg") %></div>
		<div class="about_content"><h3>malo birokracije</h3>
			<ul class="biro_ul">
				<li><b>OIB:			 	&nbsp; 	</b> 53878358729 	</li>
				<li><b>Matični broj: 	&nbsp;	</b> 2741423 		</li>
				<li><b>Kontakt: 	 	&nbsp;	<mark><%= link_to "klik!", new_contact_path %> </mark></b></li>
				<li><b>Sjedište udruge: &nbsp;	</b> Slavonski Brod, Stanka Vraza 13. </li>
			</ul>
		</div>
	</div>
	<div class="clear"></div>
	
	<br><br>


</div>