<!-- link to this page using : link_to 'O nama', page_path('about') -->
<div id="inner_about_us">

	<br>
	<h2>O nama</h2>
	<br>
	<p class="about_highlight">
		<mark> &nbsp Centar za razvijanje radnih vještina, suzbijanje siromaštva  &nbsp <br>
		 &nbsp i socijalne isključenosti samohranih roditelja „Moj Prvi Dom"  &nbsp 
		</mark>
	</p>

	<br><br>
	<div class="textbox">
		„Moj Prvi Dom“ je neprofitna, nevladina udruga registrirana 15.12.2010. u Slavonskom Brodu nastala kao rezultat uvida u nedostatak cjelovitih programa namjenjenih majkama iz jednoroditeljskih obitelji unutar sustava socijalne skrbi.
	</div>
	<div class="clear"></div>
	<br><br>

	<div class="lijevi_textbox">
		<div class="illustration"><%= image_tag("about/stargazer.png", align:"right") %></div>
		<div class="content"><h3>vizija</h3>
			<ul class="about_ul">				
				<li>Pravo svakog djeteta na sigurnost odrastanja u roditeljskom domu.</li>
				
				<li>Suzbijanje siromaštva za jednoroditeljaske obitelji iz sustava socijalne skrbi.</li>
				
				<li>Socijalno uključivanje u lokalnu zajednicu istih građana.</li>
				
				<li>Osposobljavanju istih za rad i samozapošljavanje, potičući korištenje prirodnih resursa, ekološki uzgoj, odnosno oživljavanje sela.</li>
				
			</ul>
		<br>
		</div>
	</div>
	<div class="desni_textbox">
		<div class="illustration"><%= image_tag("about/superheroF3.png", align:"right") %></div>
		<div class="content"><h3> misije </h3>
			<ul class="about_ul">
				<li>Osiguravanje sigurnog prostora za odrastanje djece čiji je roditelj siromašan i socijalno izoliran.</li>
				
				<li>Edukacije u svrhu sticanja znanja potrebnih za rad u poljoprivredi, voćarstvu i stočarstvu.</li>
				
				<li>Uključivanje lokalnog stanovništva u edukacije i seminare.</li>
				
				<li>Uključivanje Udruge u aktivnosti na lokalnoj, nacionalnoj i međunarodnoj razini u svrhu suradnje na rješavanju društvenih problema siromaštva i socijalne izolacije.</li>
				
				<li>Jačanje suradnje sa srodnim organizacijama u Hrvatskoj i izvan nje.</li>
			</ul>
		<br>
		</div>
	</div>
 

	<div class="clear"></div>
	<br><br>

	<div class="lijevi_textbox">
		<div class="illustration"><%= image_tag("about/pomozi.png", align:"right") %></div>
		<div class="content"><h3> kako pomoći? </h3>
			Imate dobru volju i želju? <br>
			<b>Odlično!</b> Samo uz pomoć ljudi poput Vas stvari se mogu promijeniti. <br>
			Više informacija o tome kako Vi možete podržati rad Udruge <mark> <b> <%= link_to " pronađite ovdje. ", donations_path %> </b> </mark>
			
			<br> <br>
		</div>
	</div>
	<div class="desni_textbox">
		<div class="illustration"><%= image_tag("about/birokracija2.png", align:"right") %></div>
		<div class="content"><h3>malo birokracije</h3>
			<ul class="biro_ul">
				<li><b>OIB:</b> 53878358729 </li>
				<li><b>Matični broj:</b> 2741423 </li>
				<li><b>Kontakt:  <%= link_to " klik!", new_contact_path %> </b></li>
				<li><b>Sjedište udruge: </b> Slavonski Brod, Stanka Vraza 13. </li>

			</ul>
		</div>
	</div>
	<div class="clear"></div>
	
	<br><br>


</div>