<div id="donations_title">
  <br>
  <h2>Doniranje</h2>
</div>
 <br>
 <br>
<div class="donat_lijevi_txtbox" >
	<p>		
		<mark><b>„Moj Prvi Dom“</b></mark> odgovor je na nedostatak  cjelovitih programa u okviru sustava socijalne skrbi. Ovaj model roditelju nudi mogućnost ponovnog  uključivanja u zajednicu i stjecanje statusa punopravnog člana društva osposobljavajući se za samozapošljavanje, dok djeci pruža sigurno mjesto za odrastanje, kao i pravo na iskustvo odrastanja u roditeljskom domu.		
	</p>	
	<br>
	
	<p>
		Pozivamo građne, privredne subjekte, medije i sve koji imaju <mark> dobru volju </mark> 
		pomoći u obnovi objekta i realizaciji programa, da u okviru svojih mogućnosti doniraju za <mark> obnovu stare škole u selu Prilišće. </mark>
	</p>
	<br>
  	<div class="donate_info"> <mark>Donaciju, </mark> u skladu sa Vašim mogućnostima možete uplatiti:  <br>
  	  Kent banka d.d.<mark>	Žiro-račun: 4124003-1172000056. </mark><br>
		<b>ili</b> <br>
		pozivom na 24-sata otvorenoj telefonskoj liniji: <br>
	  	<mark> 060-30-50-53 </mark><br>
	 	<p class="poziv_donirate">(Pozivom donirate 0,60 kn/min, fik. 1,78 kn/min, mob. 2,98 kn/min)</p>
	</div>
	<br> <br>

		<div class="song_lyric_div">
		<div class="song_lyric_box">
			<h3>baš svaki doprinos je bitan 
				<%= image_tag("donations/sun.png", :class => "sun_iva" )%></h3>
			<span class ="quot"> <%= image_tag("icons/quotes.svg") %> </span>
			<div class="quotes_and_song">
				    Svaka kap je važna.<br>
					Poput kapi kiše što na zemlju pada bila ona suha ili vlažna.<br>
					Suha vapi za kapi a vlažna brže se blati.<br>
					Kap dobrote srce može iscijeliti i potaknuti ljude da ljubav mogu dijeliti.<br>
					Kap mira i sreće, važna je i moćna, ona mijenja svijet kao šareni cvijet.<br>
					I kap što suza se zove, nije manje važna.<br>
					Ona predstavlja bol<br>
					A dio je života kao more i sol.<br>
					<span class="bottom_quote"><%= image_tag("icons/quotes.svg") %></span>
					<div class="clear"></div>
					<div class="iva">Iva, 3.c <br>Zagreb</div>
			</div>
		</div>
	</div>
</div>

	<div class="donat_desni_txtbox">
		<br> <br>
				<h3> naši dragi sponzori <%= image_tag("donations/heart.png",) %></h3> 
				<table>
				<tr>
					<td><%= image_tag("donations/nexe.png") %></td>
					<td style="background-color:gray"></td>
					<td><%= image_tag("donations/osZrnovnic.png") %></td>
					<td colspan="2"><%= image_tag("donations/double.png") %></td>
				</tr>
				<tr>
					<td><%= image_tag("donations/gimnazijaZg.png") %></td>
					<td><%= image_tag("donations/dentalCM.png") %></td>
					<td colspan="2"></td>
					<td><%= image_tag("donations/gornjoGradska.png") %></td>
				</tr>
				<tr>
					<td><%= image_tag("donations/pomorska.png") %></td>
					<td style="background-color:orange"></td>
					<td><%= image_tag("donations/kras.png") %></td>
					<td></td>
					
					<td><%= image_tag("donations/fina.png") %></td>
				</tr>
				<tr>
					<td><%= image_tag("donations/obrtnicka.png") %></td>
					<td><%= image_tag("donations/euroart.png") %></td>
					<td><%= image_tag("donations/kentBank.png") %></td>
					<td><%= image_tag("donations/slisko1.png") %></td>
					<td rowspan="2" style="background-color:#006D5B"></td>
				</tr>
				<tr>
					<td></td>
					<td><%= image_tag("donations/supernova.png") %></td>
					<td></td>
					<td><%= image_tag("donations/joker.png") %></td>
				</tr>
				<tr>
					<td colspan="2" id="ekonomska"><%= image_tag("donations/ekonomska.png") %></td>
					
					<td><%= image_tag("donations/acPrint.png") %></td>
					<td></td>
					<td><%= image_tag("donations/vrtic.png") %></td>
				</tr>

			</table>

		
		
	</div>

<div class="clear"></div>
<br><br><br>
<div class="sve">
    <div class="hex" style="background-color: #66C1E2;">
 		<%= image_tag("donations/logo_bankabrod.png") %>
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>    
    <div class="hex" id="top_hex" style="background-color: #F4D793;">        
               
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>
     <div class="hex" style="background-color: #84BA74;">        
               
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>
     <div class="hex" id="top_hex" style="background-color: #65A28F;">        
              
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>
    <div class="hex" style="background-color: #66C1E2;">        
               
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>
    <div class="hex" id="top_hex" >        
              
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>
    <div class="hex" style="background-color: #B0D7E8;">        
               
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>
    <div id="clear"></div>
    <div class="hex"  style="background-color: #F4D793;">
 
        
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>    
    <div class="hex" id="top_hex" style="background-color: #B4D6BC;">        
               
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>
     <div class="hex" style="background-color: #E35081;">        
               
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>
     <div class="hex" id="top_hex" style="background-color:#FFFFFF;">        
              
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>
    <div class="hex" style="background-color: #D42A2A;">        
               
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>
    <div class="hex" id="top_hex" style="background-color:#EAB43B;">        
              
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>
    <div class="hex" style="background-color: #66C1E2;">        
               
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>

    <div id="clear2"></div>
    <div class="hex" style="margin-left: 85px;">
 
        
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>    
    <div class="hex" style="background-color: #B0D7E8">        
               
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>
     <div class="hex" style="background-color: #65A28F">        
               
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>
</div>
</div>