<div id="donations_title">
  <br>
  <h2>Doniranje</h2>
</div>
 <br>
 <br>
<div class="donat_lijevi_txtbox" >
	<p>		
		<mark><b>„Moj Prvi Dom“</b></mark> odgovor je na nedostatak  cjelovitih programa u okviru sustava socijalne skrbi. Ovaj model roditelju nudi mogućnost ponovnog  uključivanja u zajednicu i stjecanje statusa punopravnog člana društva osposobljavajući se za samozapošljavanje, dok djeci pruža sigurno mjesto za odrastanje, kao i pravo na iskustvo odrastanja u roditeljskom domu.		
	</p>	
	<br>
	
	<p>
		Pozivamo građne, privredne subjekte, medije i sve koji imaju <mark> dobru volju </mark> 
		pomoći u obnovi objekta i realizaciji programa, da u okviru svojih mogućnosti doniraju za <mark> obnovu stare škole u selu Prilišće. </mark>
	</p>
	<br>
  	<div class="donate_info"> <mark>Donaciju, </mark> u skladu sa Vašim mogućnostima možete uplatiti:  <br>
  	  Kent banka d.d.<mark>	Žiro-račun: 4124003-1172000056. </mark><br>
		<b>ili</b> <br>
		pozivom na 24-sata otvorenoj telefonskoj liniji: <br>
	  	<mark> 060-30-50-53 </mark><br>
	 	<p class="poziv_donirate">(Pozivom donirate 0,60 kn/min, fik. 1,78 kn/min, mob. 2,98 kn/min)</p>
	</div>
	<br> <br>

		<div class="song_lyric_div">
		<div class="song_lyric_box">
			<h3>baš svaki doprinos je bitan 
				<%= image_tag("donations/sun.svg", :class => "sun_iva" )%></h3>
			
			<div class="quotes_and_song">
			<span class ="quot"> <%= image_tag("icons/quotes.svg") %> </span><br>

				    Svaka kap je važna.<br>
					Poput kapi kiše što na zemlju pada bila ona suha ili vlažna.<br>
					Suha vapi za kapi a vlažna brže se blati.<br>
					Kap dobrote srce može iscijeliti i potaknuti ljude da ljubav mogu dijeliti.<br>
					Kap mira i sreće, važna je i moćna, ona mijenja svijet kao šareni cvijet.<br>
					I kap što suza se zove, nije manje važna.<br>
					Ona predstavlja bol<br>
					A dio je života kao more i sol.<br>
					<span class="bottom_quote"><%= image_tag("icons/quotes.svg") %></span>
					<div class="clear"></div>
					<div class="iva">Iva, 3.c <br>Zagreb</div>
			</div>
		</div>
	</div>
</div>

	<div class="donat_desni_txtbox">
		<br> <br>
				<h3> naši dragi sponzori <%= image_tag("donations/heart.svg",) %></h3> 
				<br> <br>
				<div class="sve">
    <div class="hex" style="background-color: #B0D7E8;" >
 		   <%= image_tag("donations/fina.png") %>
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>    
    <div class="hex" id="top_hex" style="background-color: #F4D793;">        
        <p>ekonomsko- birotehnička škola, split</p>
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>
     <div class="hex" style="background-color: #84BA74;"  >        
        <%= image_tag("donations/dental.png") %> 
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>
     <div class="hex" id="top_hex" style="background-color: #B4A77D;">        
         <%= image_tag("donations/euroart93.png") %>     
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>
    <div class="hex" style="background-color: #944250;">        
        <p style="padding:0px 30px;">Gornjo- gradska  Gimnazija, Zagreb</p>
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>
    <div class="hex" id="top_hex" >        
         <%= image_tag("donations/logo_bankabrod.png") %>    
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>
    <div class="hex" style="background-color: #B0D7E8;" id="pomorska">        
         <%= image_tag("donations/pomorska.png") %>     
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>
    <div id="clear"></div>


    <div class="hex"  style="background-color: #EAB43B;" >
 		<p style="padding:10px 30px;">x. <br>gimnazija zagreb</p>
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>    
    <div class="hex" id="top_hex" style="background-color: #B4D6BC;" >        
        <%= image_tag("donations/nexe.png") %>        
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>
     <div class="hex"  >        
        <%= image_tag("donations/slisko.png") %>
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>
     <div class="hex" id="top_hex" style="background-color:#FFFFFF;">        
       <%= image_tag("donations/joker.png") %>       
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>
    <div class="hex" style="background-color: #AA4956;" id="kras">        
         <%= image_tag("donations/kras.png") %>         
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>
    <div class="hex" id="top_hex" style="background-color:#F4D793;">        
     	 <%= image_tag("donations/obrtnicka.png") %>     
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>
    <div class="hex"  style="background-color: #D9DBB9;">        
         <%= image_tag("donations/supernova.png") %>   
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>



    <div id="clear2"></div>
    <div class="hex" style="margin-left: 85px; background-color: #756755;">
 		   
        <%= image_tag("donations/act_printlab.png") %>
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>    
    <div class="hex" style="background-color: #B0D7E8" id="zrnovnica">        
        <%= image_tag("donations/znak-škole.png") %>   
      
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>
     <div class="hex" style="background-color: #87AD94" >  
        <p style="padding: 0px 35px;">dječji <br>vrtić tatjane marinić</p>    
        <div class="corner-1"></div>
        <div class="corner-2"></div>        
    </div>

<div class="clear"></div>
<div class="hex" id="dashed"  >  
        <p style="padding:0px 45px;">je li <br> ovo <br>vaše <br>mjesto?</p>  
        <div class="corner-1" id="dashed2"></div>
        <div class="corner-2" id="dashed2"></div>        
    </div>
		
		
	</div>
</div>
<div class="clear"></div>
<br><br><br>

<div class="donate_responsive_box">
<h3> naši dragi sponzori <%= image_tag("donations/heart.svg",) %></h3> 
				<br> <br>
	<ul class="donate_responsive">
		<li style="background-color: #B0D7E8;"><%= image_tag("donations/fina.png") %></li>
		<li style="background-color: #F4D793;"><p style="font-size:12px; padding-top:25px;">ekonomsko- birotehnička škola, split</p></li>
		<li style="background-color: #84BA74;"><%= image_tag("donations/dental.png") %></li>
		<li style="background-color: #B4A77D;"><%= image_tag("donations/euroart93.png") %> </li>
		<li style="background-color: #944250;"><p>Gornjo- gradska  Gimnazija, Zagreb</p></li>
		<li><%= image_tag("donations/logo_bankabrod.png") %>  </li>
		<li style="background-color: #B0D7E8;" id="pomorska"><%= image_tag("donations/pomorska.png") %></li>
		<li style="background-color: #EAB43B;"><p>x. gimnazija zagreb</p></li>
		<li style="background-color: #B4D6BC;"><%= image_tag("donations/nexe.png") %> </li>
		<li><%= image_tag("donations/slisko.png") %></li>
		<li style="background-color:#FFFFFF;"><%= image_tag("donations/joker.png") %></li>
		<li style="background-color: #AA4956;" id="kras"> <%= image_tag("donations/kras.png") %> </li>
		<li style="background-color:#F4D793;"> <%= image_tag("donations/obrtnicka.png") %>    </li>
		<li style="background-color: #D9DBB9;"> <%= image_tag("donations/supernova.png") %> </li>
		<li style="background-color: #756755;"> <%= image_tag("donations/act_printlab.png") %></li>
		<li style="background-color: #B0D7E8" id="zrnovnica"><%= image_tag("donations/znak-škole.png") %> </li>
		<li style="background-color: #87AD94"><p >dječji vrtić tatjane marinić</p></li>
		<li id="dashed_responsive"><p style="padding:1.17em;">je li  ovo vaše mjesto?</p> </li>
	</ul>
</div>
</div>