<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="Free Web tutorials">
	<meta name="keywords" content="HTML,CSS,XML,JavaScript">
	<meta name="author" content="Hege Refsnes">
	<meta charset="UTF-8">
  <title>MojPrviDomV2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!--<ul id="nav">-->
	<ul id="nav" style="position:fixed;" data-no-turbolink>
		<li> <%= link_to image_tag("icons/home.png",		:alt=> "home"),			root_path %>		</li>
		<li> <%= link_to image_tag("icons/news.png",		:alt=> "news"),			root_path %>		</li>
		<li> <%= link_to image_tag("icons/info.png",		:alt=> "about us"),		about_path %>		</li>
		<li> <%= link_to image_tag("icons/donation.png",	:alt=> "donation"),		donations_path %>	</li>
		<li> <%= link_to image_tag("icons/volunteer.png",	:alt=> "volunteer"),	volunteer_path %>	</li>
		<li> <%= link_to image_tag("icons/contact.png",		:alt=> "Contact Us"),	new_contact_path %>	</li>
	</ul>



	<div id="container">
		<%= yield %>
	</div>



	<br>
	<br>
	<div id="facebook_1200"><p>Pratite nas i na drustvenoj mreži</p><%= image_tag("icons/facebook.png", :alt=> "logo") %></div>

	<div id="footer" >
	  
		<div id="footer_img"><%= image_tag("footer/footer.png", :alt=> "logo") %></div>
		<div id="facebook"><%= image_tag("icons/facebook.png", :alt=> "logo") %></div>

	  
		<p> © Copyright Moj Prvi Dom 2008-2014. All rights reserved.</p>
		<br/>
	      <div id="clear"></div>
	       

	</div>


</body>
</html>
