<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="Free Web tutorials">
	<meta name="keywords" content="HTML,CSS,XML,JavaScript">
	<meta name="author" content="Hege Refsnes">
	<meta charset="UTF-8">
  <title>MojPrviDomV2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
 
</head>
<body>
	
		<div class="navigation_box">
			<div class="navigation_box_links">
			<div class="logo"><%= link_to image_tag("logo.png",		:alt=> "logo"),			root_path %></div>
				<ul class="nav">
					<!---->
					<li> <%= link_to "Početna",			root_path %>		</li>
					<li> <%= link_to "Novosti",			root_path %>		</li>
					<li> <%= link_to "O nama",			about_path %>		</li>
					<li> <%= link_to "Donacija",		donations_path %>	</li>
					<li> <%= link_to "Volontiranje",	volunteer_path %>	</li>
					<li> <%= link_to "Kontakt",			new_contact_path %>	</li>
				</ul>
			</div>
		</div>
	<div class="navigation_logo"><%= image_tag("navigation/Mojprvidom_navigacija.svg", :alt=> "navigation") %>	</div>



<div id="container">

		<%= yield %>
	</div>



	<br>
	<br>
	<div id="facebook_1200"><p>Pratite nas i na drustvenoj mreži</p><%= image_tag("icons/facebook.png", :alt=> "logo") %></div>

	<div id="footer" >
	  
		<div id="footer_img"><%= image_tag("footer/footer.png", :alt=> "logo") %></div>
		<div id="facebook"><%= image_tag("icons/facebook.png", :alt=> "logo") %></div>

	  
		<p> © Copyright Moj Prvi Dom 2008-2014. All rights reserved.</p>
		
	      <div id="clear"></div>
	       

	</div>

<script>
	$( ".navigation_logo" ).click(function() {							// Navigation bar toogle
		$( ".navigation_box" ).slideToggle( "slow", function() {			// When clicked navigation bar slides down or up
		});
	});
</script>

</body>
</html>
