<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Free Web tutorials">
	<meta name="keywords" content="HTML,CSS,XML,JavaScript">
	<meta name="author" content="Hege Refsnes">
	<meta charset="UTF-8">
  <title>MojPrviDomV2</title>
  <%= favicon_link_tag "logo.png" %>
  <%= stylesheet_link_tag params[:controller],"data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
 
</head>
<body>
	
		<div class="navigation_box">
			<div class="navigation_box_links">
			<div class="logo"><%= link_to image_tag("logo.png",		:alt=> "logo"),			root_path %></div>
				<ul class="nav">
					<li> <%= link_to "PoÄetna",						root_path %>		</li>
					<li> <%= link_to "Projekti & Novosti",			posts_path %>		</li>
					<li> <%= link_to "Doniranje",					donations_path %>	</li>
					<li> <%= link_to "Volontiranje",				volunteer_path %>	</li>
					<li> <%= link_to "O nama",						about_path %>		</li>
					<li> <%= link_to "Kontakt",						new_contact_path %>	</li>
				</ul>
			</div>
		</div>
	<div class="navigation_logo"><%= image_tag("navigation/Mojprvidom_navigacija.png", :alt=> "navigation") %>	</div>


	<%= yield %>




<div class="preload" style="display:none">
	<%= image_tag("volunteer/big_heart.svg")%>
	<%= image_tag("volunteer/happy.svg")%>
	<%= image_tag("volunteer/shoulder_shrug.svg")%>
	<%= image_tag("volunteer/love.svg")%>
	<%= image_tag("volunteer/mail.svg")%>
	<%= image_tag("footer/footer_background.png")%>
	
</div>
<script>
	$( ".navigation_logo" ).click(function() {							// Navigation bar toogle
		$( ".navigation_box" ).slideToggle( "300", function() {			// When clicked navigation bar slides down or up
		});
	});
</script>

</body>
</html>
